*{
    font-family: Sabon;
}

.container {
    margin-top: 160px;
}
h1 {
    margin-top: -75px;
    font-size: 40px;
    text-transform: uppercase;
    font-family: Sabon;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    color: darkred;
    outline: none;
    text-align: center;
}
h2{
    font-size: 23px;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
  cursor: default;
}
#home_h2{
    margin-top: -15px;
    font-size: 35px;
    font-family: Sabon;
    color: darkred;
    outline: none;
    text-align: center;
}
#contact_h1 {
    margin-top: 0;
}
td a{
    color: #1b3b5d;
}
h3 a{
    color: #1b3b5d;
}
#contact_info{
    margin-top: 80px;
}
#home_h3{
    font-family: Sabon;
    margin-top: 25px;
    font-size: 25px;
    text-align: justify;
}
#home_tables{
    text-align: center;
    margin-top: 30px;
    justify-content: space-between;
}

#home_tables::after{
    content: "";
    clear: both;
    display: table;
}

#tb_classes{
    width: 50%;
    padding: 5px;
    float: right;
}
#tb_provenience{
    width: 50%;
    padding: 5px;
    float: left;
}

.tg{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid black;
}

.tg th, .tg td {
    text-align: left;
}

#s_tutorial_div h3, #d_tutorial_div h3{
    font-size: 21px;
}

/* nav_bar */
header{
    background: #1b3b5d;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    padding: 0 7%;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
body {
    min-height: 100vh;
    background:whitesmoke center;
}
#PhyloRNA_title{
    line-height: 80px;
    z-index: 2;
    top: -4px;
    cursor: pointer;
    margin-left: 250px;
}
label.logo{
    line-height: 80px;
    padding: 10px 30px;
    position: absolute;
    z-index: 2;
    top: -4px;
    cursor: pointer;
    margin-left: -100px;
}
label.text-logo{
    line-height: 80px;
    margin-left: 125px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}
header .nav_bar {
    height: 70px;
}
header .nav_bar ul {
    list-style: none;
    float: left;
    cursor: pointer;
}
header .nav_bar ul li{
    background: #1b3b5d;
    position: relative;
    list-style: none;
    display: inline-block;
}
header .nav_bar ul li a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
}
header .nav_bar ul li a:hover{
    text-decoration: underline;
    background: #1b3b5d;
    color: #b0cbe8;
}

header .nav_bar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #1b3b5d;
    display: none;
}
header .nav_bar ul li ul li{
    width: 200px;
    margin-left: -40px;
    top: -1px;
}
header .nav_bar ul li ul li ul{
    left: 200px;
    top: 0;
}
header .nav_bar ul li:focus-within>ul,
header .nav_bar ul li:hover>ul{
    display: initial;
}
#mn_bars_checkbox{
    display: none;
}
i.fas.fa-bars{
    display: none;
}

/* search */

#search_table {
    border: 2px solid #1b3b5d;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

input#leng_f, input#leng_t, input#weak_f, input#weak_t {
    width: 122px;
}

#search_container{
    vertical-align: middle;
    align-items: center;
}

#search_table td{
    font-size: 15px;
    padding: 7px 11px;
    height: 40px;
}

#search_table td:nth-child(2), #search_table td:nth-child(4){
    background-color:#E0EAF6;;
    width: 1px;
    white-space: nowrap;
}

#search_table td:nth-child(1), #search_table td:nth-child(3){
    background-color:#D0E0F1;
    width: 1px;
    white-space: nowrap;
}


#search_button, #reset_button, #s_tutorial_btn{
    background: #eff5fb;
    border-color: #1b3b5d;
}

#search_button:hover, #reset_button:hover, #s_tutorial_btn:hover, #dl_button:hover, #prev_button:hover{
    border: 2px solid white;
    color: white;
    background:  #1b3b5d ;
    box-shadow: 10px 10px 0 #3778be;
    top: -5px;
    left:-5px;
}

#search_buttons_div{
    text-align: center;
    padding: 40px;
    font-size: 18px;
}

#search_button, #reset_button{
    width: 125px;
    margin-right: 30px;
    font-size: 18px;
}

 #s_tutorial_btn{
    width: 135px;
    margin-right: 30px;
    font-size: 18px;
 }
 #s_tutorial_div{
     margin-bottom: 100px;
 }

/* search result */

#choose_taxonomy_div{
    text-align: initial;
    border: 2px solid black;
    border-radius: 15px;
    margin: 15px;
    color: black;
    width: 202px;
}

#dl_button{
    border-radius: 15px;
    font-size: 20px;
}

#choose_format_div {
    text-align: initial;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    margin: 15px;
    width: 200px;
}

#choose_format_div p, #choose_format_div input, #choose_taxonomy_div p, #choose_taxonomy_div input {
    margin-top: 2px;
    margin-left: 5px;
}

.popover-test{
    text-decoration: underline;
    color: #1b3b5d;
}

.popover-test:hover{
    cursor: pointer;
}

#result_table {
    width: 500px;
    text-align: left;
    border-collapse: collapse;
    color: #2E2E2E;
    border: #A4A4A4;
}

#result_table tr:hover {
    background-color: #b0cbe8;
    cursor: pointer;

}

#result_table .hidden_row {
    display: none;
}

.modal-body{
    text-align: initial;
    font-size: 18px;
}
.modal-title, #taxonomies{
    font-weight: bold;
    font-size: 19px;
}

#taxa_container {
    display: grid;
    grid-template-areas: 'header header header header header';
}

.taxa_div{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

#taxa_name {
    grid-area: header;
    background-color: #E0EAF6;
    border: 1px solid black;
}


.result_table {
  white-space: nowrap;
}

.result_table th {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

.result_table tr {
  border: 1px solid black;
}

.result_table tr td{
  border: 1px solid black;
  white-space: nowrap;
  text-align: center;
}

.result_container {
    margin-left: -100px;
    padding: 32px;
    text-align: center;
}

#dl_option_div{
    vertical-align: middle;
    margin-right: 30px;
    position: fixed;
    display: inline-block;
}

#selection_download{
    display: flex;
}

#table_result_div{
    display: inline-block;
    padding: 16px 16px;
    margin-left: -315px;
}

#dl_option {
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: darkred;
  outline: none;
  text-align: center;
}

#dl_option:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
    cursor: default;
}
.more_info{
    width: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}


#progress_dl_div {
    margin-top: 15px;
}

#download-progress{
    width: 70%;
    height: 10px;
    background: #E0EAF6;
    border-radius: 25px;
    border: 4px solid black;
}

@media (max-width: 1286px) {
    /* result table */
    #result_table, #result_table td, #result_table tr,
    #result_table th, #result_table tbody, #result_table thead {
        display:block;
    }
    #result_table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #result_table{
        margin-left: auto;
    }
    #table_result_div{
        margin-left: auto;
    }
    #result_table tr{
        border: 1px solid black;
    }
    #result_table td{
        border: none;
        border-bottom: 1px solid black;
        position: relative;
        padding-left: 50%;
    }
    #result_table td:before{
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    #result_table td:nth-of-type(1){
        padding-right: 0;
    }
     #result_table td:nth-of-type(1):before{
         content: "Select";
    }
    #result_table td:nth-of-type(2):before{
        content: "Organism name";
    }
    #result_table td:nth-of-type(3):before{
        content: "Reference ID";
    }
    #result_table td:nth-of-type(4):before{
        content: "Accession number";
    }
    #result_table td:nth-of-type(5):before{
        content: "RNA Type";
    }
    #result_table td:nth-of-type(6):before{
        content: "More information";
        font-weight: initial;
        font-size: 16px;
    }
    #dl_option_div{
        position: initial;
        display: inline-block;
    }
    .dataTables_wrapper .dataTables_info{
        margin-left: auto;
    }
    /* nav-bar PhyloRNA title*/
    #PhyloRNA_title{
        line-height: 80px;
        z-index: 2;
        top: -4px;
        cursor: pointer;
        margin-left: 180px;
    }
}

@media(max-width: 1127px){
    /* nav_bar */
    header{
        padding: 20px;
    }
    #mn_bars_checkbox,i.fas.fa-bars{
        display: initial;
        font-size: 20px;
        cursor: pointer;
        color: white;
        margin-left: -45px;
    }
    #logo_lab{
       width: 80px;
       height: 80px;
       margin-left: 60px;
    }
    #logo_uni{
       width: 70px;
       height: 85px;
    }
    header label .logo{
        top: 0;
        padding: 5px;
        position: absolute;
        z-index: 2;
    }
    #unicam_text{
        margin-left: 30px;
    }
    header .nav_bar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;
        background: #1b3b5d;
    }
    header .nav_bar ul{
        padding: 0;
        width: 100%;
    }
    header .nav_bar ul li{
        width: 100%;
    }
    header .nav_bar ul li a{
        width: 100%;
    }
    header .nav_bar ul li ul{
        position: relative;
        width: 100%;
        padding: 0 0 0 40px;
    }
    header .nav_bar ul li ul li{
        background: #1b3b5d;
    }
    header .nav_bar ul li ul li ul{
        width: 100%;
        left: 0;
        padding: 0 0 0 40px;
    }
    header .nav_bar ul li ul li ul li{
        width: 100%;
    }
    #mn_bars_checkbox:checked ~ .nav_bar{
        display: initial;
    }
    /* search */
    #search_table, #search_table tr, #search_table td{
        display: block;
    }
    #search_table{
        background: #D0E0F1 ;
    }
    #search_table td:nth-child(1), #search_table td:nth-child(3) {
        background: #D0E0F1 ;
        white-space: nowrap;
        width: auto;
    }
    #search_table td:nth-child(2), #search_table td:nth-child(4){
        background-color:#D0E0F1;
        width: 1px;
        white-space: nowrap;
    }
    #search_button, #reset_button, #s_tutorial_btn{
        margin: 7px;
    }

}

/*WAIT ALLERT*/






