<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> RIBO </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style_unicam.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!--<script src="https://kit.fontawesome.com/817de29756.js" ></script>-->
</head>
<body>
    <nav>
       <div class="navbar">
           <i class="fas fa-bars"></i>
           <div class="logo"><a href="#">RIBO</a></div>
           <div class="nav-links">
               <div class="sidebar-logo">
                   <span class="logo_name">RIBO</span>
                   <i class="fas fa-times"></i>
               </div>
               <ul class="links">
                   <li><a href="#">HOME</a></li>
                   <li>
                       <a href="#">HTLM & CSS</a>
                       <i class="fas fa-caret-down arrow htmlcss-arrow"></i>
                       <ul class="htmlCss-sub-menu sub-menu">
                           <li><a href="#">Web Design</a></li>
                           <li><a href="#">Login Form </a></li>
                           <li><a href="#">Card Design</a></li>
                           <li class="more">
                               <a href="#">More</a>
                               <i class="fas fa-caret-right arrow more-arrow"></i>
                               <ul class="more-sub-menu sub-menu">
                                   <li><a href="#">Dynamic Calculator</a></li>
                                   <li><a href="#">Form Validation </a></li>
                                   <li><a href="#">Calendar</a></li>
                                   <li><a href="#">Digital Clock</a></li>
                            </ul>
                           </li>
                       </ul>
                   </li>
                   <li>
                       <a href="#">JAVASCRIPT</a>
                       <i class="fas fa-caret-down arrow js-arrow"></i>
                       <ul class="js-sub-menu sub-menu">
                           <li><a href="#">Dynamic Calculator</a></li>
                           <li><a href="#">Form Validation </a></li>
                           <li><a href="#">Calendar</a></li>
                           <li><a href="#">Digital Clock</a></li>
                       </ul>
                   </li>
                   <li><a href="#">ABOUT US</a></li>
                   <li><a href="#">CONTACT US</a></li>
               </ul>
           </div>
       </div>
    </nav>
</body>
</html>
