{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
<div id="search_container">
    <h1>Search:</h1>
    <div id="search_box">
        <form action="/search/result" method="POST"  autocomplete="on">
            <td><input type="text" name="Organism name" placeholder="Organism name" size="20"></td>
            <td><input type="text" name="Accession number" placeholder="Accession number" size="20"></td>
            <td><input type="text" name="Benchmark ID" placeholder="Reference ID" size="20"></td>
            <td><input type="number" name="Length" placeholder="Length"></td>
            <td><input type="number" name="Number of decoupled nucleotides" placeholder="Decoupled nucleotides"></td>
            <td><input type="number" name="Number of weak bonds" placeholder="Weak bonds"></td>
            <td><input type="text" name="Is Pseudoknotted" placeholder="Is Pseudoknotted"></td>
            <td><input type="number" name="Pseudoknot order" placeholder="Pseudoknot order"></td>
            <td><input type="text" name="Rna Type" placeholder="RNA type"></td>
            <td><input type="number" name="Genus" placeholder="Genus"></td>
            <td><input type="text" name="Core" placeholder="Core"></td>
            <td><input type="text" name="Core plus" placeholder="Core plus"></td>
            <td><input type="text" name="Shape" placeholder="Shape"></td>

            <td><button type="submit">Search</button></td>
            <button type="Reset" value="Reset">Reset</button>
        </form>
    </div>
</div>
{% endblock %}