{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1 id="contact_h1">Contact us</h1>
        <div id="contact_info">
            <h3>Prof. Luca Tesei</h3>
            <h3>email: luca.tesei@unicam.it</h3>
            <h3>address: Polo "Carla Lodovici", Camerino, Italy</h3>
            <h3>website: <a href="http://www.lucatesei.com">http://www.lucatesei.com</a></h3>
            <h3>website: <a href="http://www.emanuelamerelli.eu/bigdata/">http://www.emanuelamerelli.eu/bigdata/</a></h3>
        </div>
{% endblock %}