{% extends 'base.html' %}

{% block title %}Sources{% endblock %}

{% block content %}
<h1>Sources</h1>
    <div id="d_sources_div">
    <h2 style="font-size: 28px">Here you will find the sources of our data.</h2>
    <hr>
        <h2 style="font-weight: bold">SILVA, ENA and NCBI
            <h3>
                Source: arb-silva, <a href="https://www.arb-silva.de/">https://www.arb-silva.de/</a> used under a Creative Commons Attribution 4.0 International Public License (<a href="https://creativecommons.org/licenses/by/4.0/legalcode">https://creativecommons.org/licenses/by/4.0/legalcode</a> )
                <br>
                <br>Quast C, Pruesse E, Yilmaz P, Gerken J, Schweer T, Yarza P, Peplies J, Glockner
                FO (2013) The SILVA ribosomal RNA gene database project: improved data
                processing and web-based tools. Nucleic Acids Research 41:D590-D596
                <br>
                <br>Yilmaz P, Parfrey LW, Yarza P, Gerken J, Pruesse E, Quast C, Schweer T,Peplies
                J, Ludwig W, Glockner FO (2014) The SILVA and "All-species Living Tree Project
                (LTP)" taxonomic frameworks. Nucleic Acid Res. 42:D643-D648
            </h3>
        </h2>
        <br>
        <h2 style="font-weight: bold">LTP
            <h3>
                Source: mmg-ltp, <a href="https://imedea.uib-csic.es/mmg/ltp/">https://imedea.uib-csic.es/mmg/ltp/</a>
            </h3>
        </h2>
        <br>
        <h2 style="font-weight: bold">GTDB
            <h3>
                Source: gtdb, <a href="https://gtdb.ecogenomic.org/">https://gtdb.ecogenomic.org/</a>
                <br>
                <br>Parks, D.H., et al. (2021). "GTDB: an ongoing census of bacterial and archaeal diversity through a phylogenetically consistent, rank normalized and complete genome-based taxonomy." Nucleic Acids Research, <a href="https://doi.org/10.1093/nar/gkab776">https://doi.org/10.1093/nar/gkab776</a>.
                <br>
                <br>Rinke, C, et al. (2021). "A standardized archaeal taxonomy for the Genome Taxonomy Database Nature Microbiology 6, 946–959 (2021). <a href="https://doi.org/10.1038/s41564-021-00918-8">https://doi.org/10.1038/s41564-021-00918-8</a>.
                <br>
                <br>Parks, D.H., et al. (2020). "A complete domain-to-species taxonomy for Bacteria and Archaea." Nature Biotechnology, <a href="https://doi.org/10.1038/s41587-020-0501-8">https://doi.org/10.1038/s41587-020-0501-8</a>.
                <br>
                <br>Parks, D.H., et al. (2018). "A standardized bacterial taxonomy based on genome phylogeny substantially revises the tree of life." Nature Biotechnology, 36: 996-1004.
            </h3>
        </h2>
    </div>
{% endblock %}