 body {
            margin: 0 auto;
            padding: 0px;
            text-align: center;
            width: 100%;
            font-family: "Myriad Pro",
                "Helvetica Neue", Helvetica,
                Arial, Sans-Serif;
        }

        .container {
            margin: 0 auto;
            padding: 0px;
            text-align: center;
            width: 995px;
        }



        #result_table {
            width: 500px;
            text-align: left;
            border-collapse: collapse;
            color: #2E2E2E;
            border: #A4A4A4;
        }

        #result_table tr:hover {
            background-color: #F2F2F2;
        }

        #result_table .hidden_row {
            display: none;
        }