*{
    font-family: montserrat;
}

h1{
    text-transform: uppercase;
    text-align: center;
    font-size: xxx-large;
    margin-top: -35px;
}

h1 {
    margin-top: -75px;
  font-size: 40px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: darkred;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
  cursor: default;
}

#dl_option {
  margin-top: 15px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  color: darkred;
  outline: none;
  text-align: center;
}

#dl_option:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 1px;
    cursor: default;
}


body{
   background: white;

    margin: 0;
    padding: 0;
}

.dropdown{
    margin: 0 auto;
}

nav{
    height: 80px;
    background: #1b3b5d;
}

label.logo{
    line-height: 80px;
    padding: 10px 30px;
    position: absolute;
    z-index: 2;
}

label.text-logo{
    line-height: 80px;
    margin-left: 130px;
    position: absolute;
    z-index: 2;
}

nav ul{
    padding: 0;
    float: right;
    margin: 0 30px 0 0;
}

nav ul li{
    background: #1b3b5d;
    position: relative;
    list-style: none;
    display: inline-block;
}


.td_check_btn{
  width: 30px;
}

nav ul li a{
    display: block;
    padding: 0 15px;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 80px;
    font-size: 16px;
    z-index: 1;
}

nav ul ul li{
    z-index: 1;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

#search_table {
    border: 2px solid #1b3b5d;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

input#leng_f, input#leng_t, input#weak_f, input#weak_t {
    width: 122px;
}


#search_table td{
    font-size: 15px;
    padding: 7px 11px;
    height: 40px;
}

#search_table td:nth-child(2), #search_table td:nth-child(4){
    background-color:#E0EAF6;;
    width: 1px;
    white-space: nowrap;
}

#search_table td:nth-child(1), #search_table td:nth-child(3){
    background-color:#D0E0F1;
    width: 1px;
    white-space: nowrap;
}


#search_button, #reset_button, #s_tutorial_btn{
    background: #eff5fb;
    border-color: #1b3b5d;
}

#search_button:hover, #reset_button:hover, #s_tutorial_btn:hover, #dl_button:hover, #dl_prev:hover{
    border: 2px solid white;
    color: white;
    background:  #1b3b5d ;
    box-shadow: 10px 10px 0px #3778be;
    top: -5px;
    left:-5px;
}
.more_info{
    width: auto;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

#search_button_div{
    text-align: center;
    padding: 40px;
    font-size: 18px;
}

#search_button, #reset_button{
    width: 125px;
    margin-right: 30px;
    font-size: 18px;
}

 #s_tutorial_btn{
    width: 135px;
    margin-right: 30px;
    font-size: 18px;
 }

@media (max-width: 958px){
    label.logo{
        padding: 0 30px;
    }
    nav ul li a {
        font-size: 16px;
    }
    #search_table, #search_table tr, #search_table td{
        display: block;
    }
    #search_table{
        background: #D0E0F1 ;
    }
    #search_table td:nth-child(1), #search_table td:nth-child(3) {
        background: #D0E0F1 ;
        white-space: nowrap;
        width: auto;
    }
    #search_table td:nth-child(2), #search_table td:nth-child(4){
        background-color:#D0E0F1;
        width: 1px;
        white-space: nowrap;
    }
    #search_button, #reset_button, #s_tutorial_btn{
        margin: 7px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #295a8e;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        background: #295a8e;
        margin: 50px 0;
        line-height: 30px;
        z-index: 1;
    }
    nav ul li a{
        font-size: 20px;
        z-index: 1;
    }
    nav ul ul li a{
        display: block;
        background: #3778be;
        margin: 50px 0;
        line-height: 30px;
        z-index: 1;
    }
    nav ul ul ul li a{
        display: block;
        background: #3778be;
        margin: 50px 0;
        line-height: 30px;
        z-index: 1;
    }
    a.active{
        background: none;
        color: #12283f;
    }
    a:hover{
        background: none;
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }

    #search_table, #search_table tr, #search_table td{
        display: block;
    }
    #search_table{
        background: #D0E0F1;
    }
    #search_table td:nth-child(2), #search_table td:nth-child(4){
    background-color:#D0E0F1;
    width: 1px;
    white-space: nowrap;
}
    #search_table td:nth-child(1), #search_table td:nth-child(3){
        white-space: nowrap;
        background: #D0E0F1;
    }
    #search_button, #reset_button, #s_tutorial_btn{
        margin: 7px;
    }
}

nav ul li a:hover{
    background: #295a8e;
    text-decoration: none;
    color:#b0cbe8;
}

nav ul ul{
    position: absolute;
    top: 80px;
    display: none;
}

nav ul li:hover>ul{
    display: block;
    text-decoration: none;
    color: black;
}

nav ul ul li{
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li{
    position: relative;
    top: -80px;
    left: 150px;
}

nav ul li a i{
    margin: 5px;
}

.container {
    margin-top: 100px;
}

.result_table {
  white-space: nowrap;
}

.result_table th {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
  text-align: center;
}

.result_table tr {
  border: 1px solid black;
}

.result_table tr td{
  border: 1px solid black;
  white-space: nowrap;
  text-align: center;
}


/* Tabella che si espande*/


.container_table {
    margin-left: -100px;
    padding: 32px;
    text-align: center;
}

#dl_option_div{
    vertical-align: middle;
    margin-right: 30px;
    position: fixed;
    display: inline-block;
}

#selection_download{
    display: flex;
}


#table_result_div{
    display: inline-block;
    padding: 16px 16px;
    margin-left: -315px;
}


#result_table {
    width: 500px;
    text-align: left;
    border-collapse: collapse;
    color: #2E2E2E;
    border: #A4A4A4;
}

#result_table tr:hover {
    background-color: #b0cbe8;
    cursor: pointer;

}

#result_table .hidden_row {
    display: none;
}

.modal-body{
    text-align: initial;
    font-size: 18px;
}
.modal-title, #taxonomies{
    font-weight: bold;
    font-size: 19px;
}

#taxa_container {
    display: grid;
    grid-template-areas: 'header header header header header';
}

.taxa_div{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
}

#taxa_name {
    grid-area: header;
    background-color: #E0EAF6;
    border: 1px solid black;
}
.popover-test{
    text-decoration: underline;
    color: #1b3b5d;
}

.popover-test:hover{
    cursor: pointer;
}

#download_div {
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    color: black;
    margin: 15px;
    width: 200px;
}

#search_box{
    vertical-align: middle;
    align-items: center;
}

#choose_taxonomy_div{
    text-align: center;
    border: 3px solid black;
    border-radius: 15px;
    margin: 15px;
    color: black;
    width: 202px;
}

#dl_button{
    border-radius: 15px;
    font-size: 20px;
}

#output {
    text-align: left;

}